body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app{
  background: #fff;
  height: 667px;
  width: 375px;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

#app header, #app footer{
  height: 4rem;
}

#app main{
  flex-grow: 1;
  overflow-y: auto;
}